
<section >
    <div class="container">
        <div class="card my-5">
            <div class="card-body py-3"  id="about">
                <h2 class="text-center">About Me</h2>
        
                <div class="row" >
                    <div class="col-md-6 ">
                        <ul class="list-group info px-2" >
                            <li >Front End Developer with 3+ years of experience</li>
                            <li >Worked with agile methodologies</li>
                            <li >Expertise in Angular 14, Angular Material, RxJs, Javascript, SASS, CSS3, HTML5 and UI with Responsive Designs</li>
                            <li >Have good understanding of Bootstrap, Typescript, Firebase and Postmen</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="row about">
                            <div class="offset-md-2 col-md-4 pb-3"><strong>DATE OF BIRTH:</strong></div>
                            <div class="col-md-5 pb-3">13/5/1996</div>
                        </div>
                        <div class="row about">
                            <div class="offset-md-2 col-md-3 pb-3"><strong>EMAIL:</strong></div>
                            <div class="col-md-7 pb-3">nikitawaghmare96@gmail.com</div>
                        </div>
                        <div class="row about">
                            <div class="offset-md-2 col-md-3 pb-3"><strong>PHONE:</strong></div>
                            <div class="col-md-5  pb-3">8624060488</div>
                        </div>
                        <div class="row about">
                            <div class="offset-md-2 col-md-3 pb-3"><strong>ADDRESS:</strong></div>
                            <div class="col-md-5  pb-3">Deshmukh Wadi Shivne,Pune</div>
                        </div>
                        <div class="row about">
                            <div class="offset-md-2 col-md-3 pb-3"><strong>LANGUAGE</strong>:</div>
                            <div class="col-md-5  pb-3">Marathi, Hindi, English</div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>

