<div class="row">
    <div class="col-md-12">
        <div class="card p-3 m-5" id="skills">
            <h2 class="text-center">Skills</h2>

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>HTML</p>
                        <p>85%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>

                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>CSS3</p>
                        <p>80%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>JAVASCRIPT</p>
                        <p>88%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="88"></mat-progress-bar>

                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>SCSS</p>
                        <p>70%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>

                </div>
            </div>
            <div class="row  mb-4">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>BOOTSTRAP 3/4</p>
                        <p>90%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>

                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>TYPESCRIPT</p>
                        <p> 77%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="77"></mat-progress-bar>

                </div>
            </div>
            <div class="row  mb-4">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>ANGULAR</p>
                        <p>88%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="88"></mat-progress-bar>

                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>RXJS</p>
                        <p>65%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>

                </div>
            </div>
            <div class="row  mb-4">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>JQUERY</p>
                        <p>40%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <p>FLEX</p>
                        <p>70%</p>
                    </div>
                    <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>

                </div>
            </div>
        </div>
    </div>
</div>