.card{
   
    .headerSec{
        color: white;
        background-color:  rgba(3, 53, 53, 0.527);
      
    }
    .bodySec{
      li{
        padding-bottom: 3px;
        font-size: 16px;
      }
    }
}