
    <div class="card">
    <h2 class="text-center m-0">Contact Me</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <i class="fa-solid fa-mobile mr-2"></i>
                        <a href="tel:8624060488">8624068488</a>
                    </p>
                    <p>
                        <i class="fa-solid fa-envelope mr-2"></i>
                        <a href="mailto:nikitawaghmare96@gmail.com">nikitawaghmare96@gmail.com</a>
                    </p>
                    <p>
                        <a  href="https://www.naukri.com/mnjuser/inbox">
                            <img src="https://content.jdmagicbox.com/comp/hyderabad/j9/040pxx40.xx40.170511123921.c7j9/catalogue/naukari-com-begumpet-hyderabad-placement-services-candidate-7sqrrs-250.jpg" class=" naukari">
                        </a>
                      
                    </p>
                </div>
            </div>
        </div>
    </div>
  
