

.linkedin{
    height: 100px;
    width: 100px;
}
.linkedin:hover{
    animation : imageanimation 3s linear;
 
}
 


.contact{
    background-image: url('https://media.istockphoto.com/id/1488104461/photo/qr-code-as-global-communication-and-payment-services-transforming-industries-and-customer.jpg?s=612x612&w=0&k=20&c=hKV8_4K0fZFfbjapiezxdG6lSCwPRncC68kjZcRKDkM=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

@keyframes imageanimation{
    0% {
        transform: translateY(3px ) scale(.8)
        
    }
    50%{
        transform:  translate(-3px) scale(1);
    }

    100%{
        transform: translate(-3px) scale(1.1);
    }
}